<launch>
    <arg name="calibration" default="$(find camera_locate)/config/gazebo_camera.yaml"/>

    <group ns="uav1">
        <node pkg="camera_locate" type="locate_gazebo.py" name="locate_node" output="screen">
            <param name="ID" value = "uav1"/>	
            <rosparam ns="calibration" file="$(arg calibration)" />
        </node>
    </group>

    <group ns="uav2">
        <node pkg="camera_locate" type="locate_gazebo.py" name="locate_node" output="screen">
            <param name="ID" value = "uav2"/>	
            <rosparam ns="calibration" file="$(arg calibration)" />
        </node>
    </group>


</launch>
