<launch>
    <arg name="gambal_IP" default="192.168.42.109"/>

    <node pkg="gambal_control" type="gambal_control" name="gambal_control_node" output="screen">
        <param name="gambal_IP" type = "string" value = "$(arg gambal_IP)"/>
        <rosparam param="img_size">[1024, 1024]</rosparam>
    </node>
</launch>
